{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectric/1.13.0/selectric.css" rel="stylesheet">
    <link href="{% static 'css/adhome.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Company name</h2>
        </div>
        <nav class="nav flex-column">
            <a href="{% url 'admin_home' %}" class="nav-link active"><span class="icon">🏠</span>Dashboard</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="updatesDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="icon">📦</span> Updates
                </a>
                <div class="dropdown-menu" aria-labelledby="updatesDropdown">
                    <a class="dropdown-item" href="{% url 'list_update' %}">All Updates</a>
                    <a class="dropdown-item" href="{% url 'update_list' %}">Monthly</a>
                    <a class="dropdown-item" href="{% url 'weekly_update' %}">Weekly</a>
                </div>
            </div>
            <a href="{% url 'all_leave' %}" class="nav-link"><span class="icon">📦</span>Leaves</a>
            <a href="{% url 'monthly_statement' %}" class="nav-link"><span class="icon">📦</span>Employee Attendance</a>
            <a href="{% url 'monthly-attendance' %}" class="nav-link"><span class="icon">📦</span>Monthly Attendance</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="expensesDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="icon">📦</span> Expenses
                </a>
                <div class="dropdown-menu" aria-labelledby="expensesDropdown">
                    <a class="dropdown-item" href="{% url 'pending_exp' %}">Pending</a>
                    <a class="dropdown-item" href="{% url 'accepted_exp' %}">Accepted</a>
                    <a class="dropdown-item" href="{% url 'rejected_exp' %}">Rejected</a>
                </div>
            </div>
            
        </nav>
    </div>

    <div class="main-content">
        <header>
            <a href="{% url 'lgout'%}"><button class="btn btn-outline-danger sign-out" style="margin-block-end: 1px;">Sign out</button></a>
        </header>
        <div class="cards">
            <div class="card blue">
                <a href="{% url 'register' %}">
                    <div class="title" style="color: aliceblue;">ADD NEW EMPLOYEE</div>
                    <div class="value" style="color: aliceblue;">CLICK</div>
                    <div class="stat" style="color: aliceblue;">TO ADD A NEW STAFF</div>
                </a>
            </div>
            <div class="card green">
                <a href="{% url 'add_leave' %}">
                    <div class="title" style="color: aliceblue;">PROVIDE GENERAL HOLIDAYS</div>
                    <div class="value" style="color: aliceblue;">CLICK</div>
                    <div class="stat" style="color: aliceblue;">TO ADD A NEW HOLIDAY</div>
                </a>
            </div>
            <div class="card orange">
                <a href="{% url 'add_daily_task' %}">
                    <div class="title" style="color: aliceblue;">ASSIGN DAILY TASK</div>
                    <div class="value" style="color: aliceblue;">CLICK</div>
                    <div class="stat" style="color: aliceblue;">TO ASSIGN DAILY TASK FOR USER</div>
                </a>
            </div>
            <div class="card red">
                <div class="title">NEW CUSTOMERS</div>
                <div class="value">3</div>
                <div class="stat">13% DECREASE</div>
            </div>
        </div>
        {% if not data %}
        <h2>NO EMPLOYEES ON DUTY</h2>
        {% else %}
        <div class="projects">
            <h2>EMPLOYEES ON DUTY</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>EMPLOYEE</th>
                        <th>CHECK IN</th>
                        <th>STATUS</th>
                        <th>CHECK OUT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.user }}</td>
                        <td>{{ i.checkin }}</td>
                        <td>
                            {% if i.end %}
                            DUTY COMPLETED
                            {% else %}
                            DUTY IN PROGRESS
                            {% endif %}
                        </td>
                        <td>{{ i.checkout }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectric/1.13.0/jquery.selectric.min.js"></script>
    <script src="{% static 'js/admin.js' %}"></script>
</body>

</html>
